
<div class="a">
<h1> <%= current_user.nome%> <h1><h1> <%= current_user.cognome %> <h1>
</div>

<%= link_to '/admin_page' do %>
<%= image_tag "https://i.ytimg.com/vi/YhqL32rffb0/maxresdefault.jpg" , :size => "720x480"%>
<% end %>

<%= link_to edit_user_registration_path  do %>
<%= image_tag "http://www.creativebath.org/media/companies/1804/purple-edit-logo.jpg" , :size => "720x480"%>
<% end %>

