
<%= flash[:notice] %>

<form id="myForm" action="admin_page/up" method="post">
  
  <select id="select">
    <option></option>
    </select>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<%= form_for @user, :url => { :action => "up" }, :html => { :method => "put" } do |f| %>
<%= f.submit 'Conferma', :name => "join" %>
<input type="hidden" id="hidden" name="bo" value="no" />
<% end %>


<script>


var options = <%= @u.inspect.html_safe %>;
$('#select').empty();
$.each(options, function(i, p) {
    $('#select').append($('<option></option>').val(p).html(p));
});

$('select').change(alert_me_test);

  function alert_me_test(){
  document.getElementById("hidden").value = this.value;
  }

</script>
 
