<%= form_for @locale, url:{action: "create"} do |f| %>
	<p>
		<%= f.label :nlocale %>
		<%= f.text_field :nlocale %>
	</p>
	<p>
		<%= f.label :indirizzo %>
		<%= f.text_field :indirizzo %>
	</p>
	<p>
		<%= f.label :backline %>
		<%= f.text_field :backline %>
	</p>
	<p>
		<%= f.label :pagamento %>
		<%= f.text_field :pagamento %>
	</p>
	<p>
		<%= f.label :capacita %>
		<%= f.text_field :capacita %>
	</p>
	<p>
		<%= f.label :genere %>
		<%= f.text_field :genere %>
	</p>
	<p>
		<%= f.label :telefono %>
		<%= f.text_field :telefono %>
	</p>
	<p>
		<%= f.label :citta %>
		<%= f.text_field :citta %>
	</p>

    <%= f.submit  %>
<% end %>
